div#fullscr-toggler {
    display: none !important;
}

#navigator-toolbox[fullscreenShouldAnimate] {
    transition: none !important;
}

#tabbrowser-tabs {
    &[orient="horizontal"] {
        --tabstrip-min-height: 30px;
    }
}

.tab-background {
    margin: 0 !important;
    --tab-border-radius: 5px 5px 0px 0px !important;
}

#TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon,
.tab-background:is([selected], [multiselected]) {
    border-top: AccentColor 3px solid !important;
    background-color: color-mix(in srgb, -moz-dialog 90%, white) !important;
}

.browser-toolbar:not(#TabsToolbar) {
    background-color: Menu !important;
    background-color: color-mix(in srgb, -moz-dialog 90%, white) !important;
}

.tab-icon-stack {
    display: flex;
}

.tab-icon-image {
    opacity: 1 !important;
}

.tab-icon-overlay {
    &:not([crashed]) {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
            background-color: transparent !important;
            border: none !important;
            filter: invert(100%);
        }
    }
}

#main-window[sizemode="fullscreen"] #statuspanel {
    display: none !important;
}

#main-window[sizemode="fullscreen"] browser {
    margin-bottom: 0px;
}

/*
notification-message[value="drmContentDisabled"] {
    display: none !important;
}
*/

#alltabs-button {
    display: none !important;
}
